@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,600;1,400&display=swap');

* {
    box-sizing: border-box;
    font-family: 'Montserrat';
    margin: 0;
    padding: 0;
}

html {
    /* Deslizamiento de los Links del Menù (cuando hago Click)*/
    scroll-behavior: smooth;
}

/* MENÚ */
.contenedor-header {
    background: rgb(145, 145, 145);
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 99;
}

.contenedor-header header {
    max-width: 1100px;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 20px;
}

.contenedor-header header .logo a {
    font-family: 'Montserrat';
    font-size: 27px;
    color: mintcream;
    text-decoration: none;
}

.contenedor-header header ul {
    display: flex;
    list-style: none;
}

.contenedor-header header nav ul li a {
    text-align: none;
    color: #fff;
    margin: 0 15px;
    padding: 3px;
    transition: .5s;
    text-decoration: none;
}

.contenedor-header header nav ul li a:hover {
    color: black;
}

.nav-responsive {
    background-color: #fff;
    color: rgb(145, 145, 145);
    padding: 5px 10px;
    border-radius: 5px;
    cursor: pointer;
    display: none;
}

/*SECCIÓN I N I C I O */
.inicio {
    background: linear-gradient(to top, rgba(30, 35, 38, .8), rgba(30, 35, 38, 1)),
        url(img/pexels-picjumbocom-196659.jpg);
    background-size: cover;
    height: 100vh;
    color: #fff;
    display: flex;
    align-items: center;
}

.inicio .contenido-banner {
    padding: 20px;
    background-color: rgb(145, 145, 145);
    max-width: 350px;
    margin: auto;
    text-align: center;
    border-radius: 40px;
}

.inicio .contenido-banner img {
    margin-top: 40px;
    border: 10px, solid rgb(145, 145, 145);
    display: block;
    width: 80%;
    margin: auto;
    border-radius: 100%;
}

.inicio .contenido-banner h1 {
    margin-top: 10px;
    font-size: 26px;
    font-family: 'Montserrat';
}

.inicio .contenido-banner h2 {
    font-size: 16px;
    font-weight: normal;
}

.inicio .contenido-banner .redes a {
    color: #fff;
    display: inline-block;
    text-decoration: none;
    border: 1px solid #fff;
    border-radius: 100%;
    width: 42px;
    height: 42px;
    line-height: 42px;
    margin: 40px 5px;
    font-size: 20px;
    transition: .3s;
}

.inicio .contenido-banner .redes a:hover {
    background-color: rgb(7, 7, 7);
}

.sobremi {
    background-color: rgb(26, 26, 26);
    color: #fff;
    padding: 50px 20px;
}

.sobremi .contenido-seccion {
    max-width: 1100px;
    margin: auto;
}

.sobremi h2 {
    font-size: 36px;
    font-family: 'Montserrat';
    text-align: center;
    padding: 20px 0;
}

.sobremi .contenido-seccion p {
    font: 18px;
    line-height: 22px;
    margin-bottom: 20px;
}

.sobremi .contenido-seccion p span {
    color: #fff;
    font-weight: bold;
}

.sobremi .fila {
    display: flex;
}

.sobremi .fila .col {
    width: 50%;
}

.sobremi .fila .col h3 {
    font-size: 28px;
    font-family: 'Montserrat';
    margin-bottom: 25px;
}

.sobremi .fila .col ul {
    list-style: none;
}

.sobremi .fila .col ul li {
    margin: 12px 0;
}

.sobremi .fila .col ul li strong {
    display: inline-block;
    color: #fff;
    width: 130px;
}

.sobremi .fila .col ul li span {
    background-color: #fff;
    padding: 3px;
    font-weight: bold;
    border-radius: 5px;
    color: rgb(26, 26, 26);
}

.sobremi .fila .col .contenedor-intereses {
    display: flex;
    flex-wrap: wrap;
}

.sobremi .fila .col .contenedor-intereses .interes {
    width: 100px;
    height: 100px;
    background-color: rgb(146, 146, 146);
    border-radius: 10px;
    margin: 0 15px 15px 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    transition: .3s;
}

.sobremi .fila .col .contenedor-intereses .interes:hover {
    background-color: #070707;
}

.sobremi .fila .col .contenedor-intereses .interes i {
    font-size: 30px;
    margin-bottom: 11px;
}

.sobremi button {
    cursor: pointer;
    background-color: transparent;
    border: 2px solid #fff;
    width: fit-content;
    display: block;
    margin: 20px auto;
    padding: 10px 22px;
    font-size: 16px;
    color: #fff;
    position: relative;
    z-index: 10;
    margin-left: 25px;
}

.sobremi button .overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 0;
    height: 100%;
    background-color: rgb(146, 146, 146);
    z-index: -1;
    transition: 1s;
}

.sobremi button:hover .overlay {
    width: 100%;
}

/*S E C C I O N   S K I L L S*/
.skills {
    background-color: rgb(146, 146, 146);
    color: #fff;
    padding: 50px 20px;
}

.skills .contenido-seccion {
    max-width: 1100px;
    margin: auto;
}

.skills h2 {
    font-size: 36px;
    font-family: 'Montserrat';
    text-align: center;
    padding: 20px 0;
}

.skills .fila {
    display: flex;
}

.skills .fila .col {
    width: 50%;
    padding: 0 20px;
}

.skills .fila .col h3 {
    font-size: 28px;
    font-family: 'Montserrat';
    margin-bottom: 25px;
}

.skills .skill>span {
    font-weight: bold;
    display: block;
    margin-bottom: 10px;
}

.skills .skill .barra-skill {
    height: 8px;
    width: 80%;
    background-color: #070707;
    position: relative;
    margin-bottom: 30px;
}

.skills .skill .progreso {
    background-color: #b2bac0;
    position: absolute;
    top: 0;
    left: 0;
    height: 8px;
}

.skills .skill .barra-skill span {
    position: absolute;
    height: 40px;
    width: 40px;
    background-color: #b2bac0;
    border-radius: 50px;
    line-height: 40px;
    text-align: center;
    top: -17px;
    right: -15px;
    font-size: 14px;
}

/*Estas Clases se agregaran dinamicamente con Javascript*/
.skills .skill .javascript {
    width: 0%;
    animation: 2s javascript forwards;
}

@keyframes javascript {
    0% {
        width: 0%;
    }

    100% {
        width: 60%;
    }
}

.skills .skill .htmlccs {
    width: 0%;
    animation: 2s htmlccs forwards;
}

@keyframes htmlccs {
    0% {
        width: 0%;
    }

    100% {
        width: 60%;
    }
}

.skills .skill .sass {
    width: 0%;
    animation: 2s SASS forwards;
}

@keyframes sass {
    0% {
        width: 0%;
    }

    100% {
        width: 66%;
    }
}

.skills .skill .tailwind {
    width: 0%;
    animation: 2s tailwind forwards;
}

@keyframes tailwind {
    0% {
        width: 0%;
    }

    100% {
        width: 67%;
    }
}

/*SECCION CURRICULUM*/
.curriculum {
    background-color: rgb(26, 26, 26);
    color: #fff;
    padding: 50px 20px;
}

.curriculum .contenido-seccion {
    max-width: 1100px;
    margin: auto;
}

.curriculum h2 {
    font-size: 36px;
    font-family: 'Montserrat';
    text-align: center;
    padding: 20px 0;
}

.curriculum .fila {
    display: flex;
    justify-content: space-between;
}

.curriculum .fila .col {
    width: 49%;
    padding: 0 20px;
}

.curriculum.fila .col h3 {
    font-size: 28px;
    font-family: 'Montserrat';
    margin-bottom: 25px;
}

.curriculum .fila .izquierda {
    border-left: 2px solid #b2bac0;
}

.curriculum .fila .derecha {
    border-right: 2px solid #b2bac0;
}

.curriculum .fila .item {
    padding: 25px;
    margin-bottom: 30px;
    background-color: #b2bac0;
    position: relative;
}

.curriculum .fila .item h4 {
    font-size: 20px;
    margin-bottom: 10px;
}

.curriculum .fila .item .casa {
    color: #fff;
    font-size: 16px;
    font-weight: bold;
    display: block;
}

.curriculum .fila .item .fecha {
    display: block;
    color: #fff;
    margin-bottom: 10px;
}

.curriculum .fila .item p {
    line-height: 24px;
}

.curriculum .fila .izq {
    border-right: 2px solid #b2bac0;
    margin-right: 20px;
}

.curriculum .fila .der {
    border-left: 2px solid #b2bac0;
    margin-left: 20px;
}

.curriculum .fila .item .conectori {
    height: 2px;
    background-color: #b2bac0;
    width: 47px;
    position: absolute;
    top: 50%;
    z-index: 5;
}

/* SECCIIÓN P O R T A F O L I O */
.portafolio {
    background-color: rgb(146, 146, 146);
    color: #fff;
    padding: 50px 20px;
}

.portafolio .contenido-seccion {
    max-width: 1100px;
    margin: auto;
}

.portafolio h2 {
    font-size: 36px;
    font-family: 'Montserrat';
    text-align: center;
    padding: 20px 0;
}

.portafolio .galeria {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.portafolio .galeria .proyecto {
    position: relative;
    max-width: 340px;
    height: fit-content;
    margin: 10px;
    cursor: pointer;
}

.portafolio .galeria .proyecto img {
    width: 100%;
    display: block;
}

.portafolio .galeria .proyecto .overlay {
    position: relative;
    top: 0;
    width: 100%;
    height: 100%;
    text-align: center;
    background: linear-gradient(rgba(64, 66, 66, 0.8), rgba(64, 65, 64, 0.8));
    display: flex;
    flex-direction: column;
    justify-content: center;
    transition: 1s;
    Opacity: 0;
}

.portafolio .galeria .proyecto .overlay:hover {
    opacity: 1;
}

/* SECCIÓN C O N T A C T O*/
.contacto {
    background-color: rgb(26, 26, 26);
    color: #fff;
    padding: 50px 0;
}

.contacto .contenido-seccion {
    max-width: 1100px;
    margin: auto;
}

.contacto h2 {
    font-size: 48px;
    font-family: 'Montserrat';
    text-align: center;
    padding: 20px 0;
}

.contacto .fila {
    display: flex;
}

.contacto .col {
    width: 50%;
    padding: 10px;
    position: relative;
}

.contacto .col input,
.contacto .col textarea {
    display: block;
    width: 100%;
    padding: 18px;
    border: none;
    margin-bottom: 20px;
    background-color: #b2bac0;
    color: #fff;
    font-size: 18px;
}

.contacto button {
    cursor: pointer;
    background-color: transparent;
    border: 2px solid #fff;
    width: fit-content;
    display: block;
    margin: 20px auto;
    padding: 10px 22px;
    font-size: 16px;
    color: #fff;
    position: relative;
    z-index: 10;
}

.contacto button .overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 0;
    height: 100%;
    background-color: #b2bac0;
    z-index: -1;
    transition: 1%;
}

.contacto button:hover .overlay {
    width: 100%;
}

.contacto .col img {
    width: 100%;
}

.contacto .col .info {
    position: absolute;
    top: 20%;
    background-color: #262626;
    padding: 20px;
    width: fit-content;
    left: 50%;
    transform: translate(-50%, 50%);
}

.contacto .col .info ul li {
    display: inline-block;
    margin-right: 20px;
}

/*SECCIÓN RELOJ*/

.wrap {
    background-color: rgb(26, 26, 26);
    color: #fff;
    width: 100%;
    max-width: 1000px;
    font-size: 16px;
}

.widget {
    width: 40%;
    margin: 2em;
    /*    margin:32px;*/
}

.widget p {
    display: inline-block;
    line-height: 32px;
}

.fecha {
    font-family: 'Montserrat';
    text-align: center;
    font-size: 1.5em;
    margin-bottom: 0.3125rem;
    /*margin-bottom: 5px;*/
    background: rgba(0, 0, 0, .50);
    padding: 20px;
    width: 100%;
}

.reloj {
    font-family: 'Montserrat';
    width: 100%;
    padding: 20px;
    font-size: 4em;
    text-align: center;
    background: rgba(0, 0, 0, .5);
}

.reloj .caja-segundos {
    display: inline-block;
}

.reloj .segundos,
.reloj .ampm {
    font-size: 2rem;
    display: block;
}






footer {
    background-color: #262626;
    color: #fff;
    padding: 50px 0 3px 0;
    text-align: center;
    position: relative;
    width: 100%;
}

footer .redes {
    margin-bottom: 20px;
}

footer .redes a {
    color: #fff;
    display: inline-block;
    text-decoration: none;
    border: 1px solid #fff;
    border-radius: 100%;
    width: 42px;
    height: 42px;
    line-height: 42px;
    margin: 40px 5px;
    font-size: 20px;
    transition: .3s;
}

footer .arriba {
    display: block;
    width: 50px;
    height: 50px;
    background-color: #b2bac0;
    color: #fff;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    top: -25%;
    border-radius: 50%;
    line-height: 50px;
    font-size: 18px;
}

/* SECCIÓN R E S P O N S I V E*/
@media screen and (max-width:980px) {
    nav {
        display: none;
    }

    nav-responsive {
        display: block;
    }

    nav.responsive {
        display: block;
        position: absolute;
        right: 0;
        top: 75px;
        background-color: #262626;
        width: 100px;
    }

    nav.responvive ul {
        display: block !important;
    }

    nav.responsive ul li {
        border-bottom: 1px solid #fff;
        padding: 10px 0;
    }
}

@media screen and (max-width:700px) {
    .sobremi .fila {
        display: block;
    }

    .sobremi .fila .col {
        width: fit-content;
    }
}